@if (!machineMetadata.isLoading() && machineMetadata.hasValue()) {
  <div class="flex-fill">
    @let form = this.form();
    @if (form) {
      <div
        class="mb-3"
        [formGroup]="form"
      >
        <label
          for="machineType"
          class="form-label small fw-bold"
        >
          {{ 'machineType' | i18next }}
        </label>
        <select
          id="machineType"
          class="form-select"
          required
          formControlName="machineType"
        >
          @for (option of machineTypes(); track $index) {
            <option [ngValue]="option">{{ option }}</option>
          }
        </select>
      </div>

      @let selectedMetadata = this.selectedMetadata();
      @if (form && selectedMetadata) {
        <app-machine-form
          mode="create"
          [machineMetadata]="selectedMetadata"
          [form]="form"
        />
      }
    }
  </div>
}
