<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="overseer">
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Overseer</title>
    <link href="/css/angular-material.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/nprogress.css" rel="stylesheet"/>
    <link href="/overseer.css?rev=870e46cb9e4ef2abe480717aaaa887c2" rel="stylesheet"/>
</head>
<body>
<div ng-cloak ng-controller="appCtrl as app">
    <md-content>
        <md-toolbar id="header" md-scroll-shrink="true" class="header">
            <div class="md-toolbar-tools">
                <a flex href="/#!/">
                    <h2>Overseer</h2>
                </a>
                <md-button ng-show="!app.showMenu" href="/#!/configuration" class="md-icon-button action-button">
                    <i class="fa fa-gear"></i>
                </md-button>
                <md-menu ng-show="app.showMenu" md-position-mode="target-right bottom">
                    <md-button class="md-icon-button action-button" ng-click="$mdMenu.open($event)">
                        <i class="fa fa-bars"></i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button href="/#!/configuration" ng-click="app.close()">
                                <div layout="row" flex>
                                    <p flex>{{ 'settings' | translate }}</p>
                                    <i class="fa fa-gear" style="margin: auto 3px auto 0;"></i>
                                </div>                                
                            </md-button>
                        </md-menu-item> 
                        <md-menu-item>
                            <md-button ng-click="app.logout()">
                                <div layout="row" flex>
                                    <p flex>{{ 'logout' | translate }}</p>
                                    <i class="fa fa-sign-out" style="margin: auto 3px auto 0;"></i>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </md-content>
    <div id="view-container" ng-view>
    </div>
</div>
<script src="/scripts/angular.min.js"></script>
<script src="/scripts/angular-route.min.js"></script>
<script src="/scripts/angular-animate.min.js"></script>
<script src="/scripts/angular-aria.min.js"></script>
<script src="/scripts/angular-messages.min.js"></script>
<script src="/scripts/angular-material.min.js"></script>
<script src="/scripts/angular-translate.min.js"></script>
<script src="/scripts/lodash.min.js"></script>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/jquery.signalR.min.js"></script>
<script src="/scripts/nprogress.js"></script>
<script src="/push/hubs"></script>
<script src="/overseer.js?rev=2b9b0cdf94137eaa43d0d5b0e9e704f3"></script>
</body>
</html>