<div class="config-form">
    <h5 translate>clientSettings</h5>
    <form [formGroup]="clientForm">
        <app-theme-selector [(form)]="clientForm"></app-theme-selector>
    </form>
    <h5 translate>appSettings</h5>
    <form *ngIf="configuration$ | async" [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field>
            <mat-select placeholder="Poll Interval" formControlName="interval">
                <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                    {{ interval.value / 1000 }} {{ interval.translationKey | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="hideDisabledMachines">{{'hideDisabledMachines' | translate}}</mat-slide-toggle>

        <mat-slide-toggle formControlName="hideIdleMachines">{{'hideIdleMachines' | translate}}</mat-slide-toggle>

        <div class="actions">
            <button mat-button (click)="cancel()" [disabled]="form.pristine">{{'cancel' | translate}}</button>
            <button mat-button color="primary" [disabled]="form.pristine || form.invalid">{{'save' | translate}}</button>
        </div>
    </form>
</div>
