/* You can add global styles to this file, and also import other style files */

$primary: #5cb248;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html,
body,
app-root,
main {
  font-family: 'Inter';
  height: 100%;
}

router-outlet {
  display: contents;
}
