<h1 mat-dialog-title>{{'certificateException' | translate}}</h1>
<div mat-dialog-content>
    <p translate>certificateWarning</p>
    <h4 translate>certificateInformation</h4>
    <table class="config-table">
        <tr>
            <th translate>issuedTo</th>
            <td>{{ data.issuedTo }}</td>
        </tr>
        <tr>
            <th translate>issuedBy</th>
            <td>{{ data.issuedBy }}</td>
        </tr>
        <tr>
            <th translate>issueDate</th>
            <td>{{ data.issueDate }}</td>
        </tr>
        <tr>
            <th translate>expireDate</th>
            <td>{{ data.expireDate }}</td>
        </tr>
        <tr>
            <th translate>thumbprint</th>
            <td>{{ data.thumbprint }}</td>
        </tr>
    </table>
    <p translate>certificateCaution</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">{{'no' | translate}}</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">{{'yes' | translate}}</button>
</div>
