<form [formGroup]="form" (ngSubmit)="save()">
    <mat-card class="form-card">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>add</mat-icon>
            </div>
            <mat-card-title translate>addPrinter</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field>
                <mat-select name="printerType" placeholder="{{ 'printerType' | translate }}" formControlName="printerType">
                    <mat-option *ngFor="let type of printerTypes" [value]="type.value">
                        {{ type.translationKey | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-printer-config [form]="form"></app-printer-config>
        </mat-card-content>

        <mat-card-actions>
            <span class="spacer"></span>
            <a routerLink="/configuration/printers" mat-button>{{ 'cancel' | translate }}</a>
            <button mat-button color="primary" [disabled]="form.pristine || form.invalid">{{ 'save' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</form>
