<mat-card class="configuration form-card">
    <mat-card-content>
        <mat-tab-group routerTabs>
            <mat-tab routerLink="/configuration/general" label="{{'generalSettings' | translate}}"></mat-tab>
            <mat-tab routerLink="/configuration/machines" label="{{'machines' | translate}}"></mat-tab>
            <mat-tab routerLink="/configuration/users" label="{{'users' | translate}}"></mat-tab>
            <mat-tab routerLink="/configuration/about" label="{{'aboutSettings' | translate}}"></mat-tab>
        </mat-tab-group>
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>
