@import "variables";

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

    background-color: rgba(202, 202, 202, 0.37);

    td {
        display: none;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.config-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    .cdk-drop-list-dragging tr:not(.cdk-drag-placeholder) {
        transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    &.drag-drop {
        cursor: move;
    }

    tr {
        .sort-column {
            width: 100px;
            padding-left: 0;

            @media (max-width: 480px) {
                display: none;
            }

            .mat-button {
                padding: 0 8px;
                min-width: auto;
            }
        }

        th {
            .mat-button {
                font-weight: bold;
            }
        }

        th,
        td {
            text-align: left;
            padding-left: 20px;
            height: 38px;

            @media (max-width: 480px) {
                padding-left: 0;
            }

            &.centered {
                text-align: center;
            }

            &.action {
                text-align: right;
                width: 100px;
                padding: 0;

                .mat-button {
                    .mat-icon {
                        $icon-size: 16px;
                        font-size: $icon-size;
                        line-height: $icon-size - 2;
                        height: $icon-size;
                        width: $icon-size;
                        font-weight: bolder;
                    }
                }
            }

            &.empty {
                @extend .centered;
                padding: 10px 0;
            }
        }

        &:last-child > td {
            border: none;
        }
    }
}

.config-form {
    padding: 0 20px;
}

app-octoprint,
app-reprap {
    display: flex;
    flex-direction: column;
}
