<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="overseer.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<filter type="log4net.filter.LevelRangeFilter">
			<param name="LevelMin" value="WARN"></param>
			<param name="LevelMax" value="ERROR"></param>
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="FileAppender" />
	</root>
</log4net>