<form [formGroup]="form">
  <mat-card class="form-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>edit</mat-icon>
      </div>
      <mat-card-title
        >{{ "editing" | i18next }} {{ machine?.name }}</mat-card-title
      >
      <span class="spacer"></span>
      <mat-slide-toggle id="disabled" formControlName="disabled">{{
        "disableMonitoring" | i18next
      }}</mat-slide-toggle>
    </mat-card-header>

    <mat-card-content>
      <app-machine [form]="form" [machine]="machine"></app-machine>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="warn" (click)="delete()">
        {{ "delete" | i18next }}
      </button>
      <span class="spacer"></span>
      <a routerLink="/configuration/machines" mat-button>{{
        "cancel" | i18next
      }}</a>
      <button
        mat-button
        color="primary"
        (click)="save()"
        [disabled]="form.pristine || form.invalid"
      >
        {{ "save" | i18next }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
