@import "variables";

.about {
  .app-info {
    margin-top: 30px;
    text-align: center;

    table {
      width: 100%;

      th {
        text-align: right;
      }

      td {
        text-align: left;
      }

      th,
      td {
        width: 50%;
        padding: 5px 10px;
      }
    }
  }

  .logging {
    margin-top: 30px;
    text-align: center;
  }

  .footer {
    border-top: 1px solid $border-color-solid;
    margin-top: 20px;
    padding-top: 20px;

    @media (max-width: 480px) {
      position: relative;
      text-align: center;

      &,
      .copy,
      .license {
        display: block;
      }

      .copy {
        margin-top: 40px;
      }

      .license {
        top: 10px;
        left: 0;
        right: 0;
        position: absolute;
      }
    }
  }
}
