<div
  class="about config-form"
  *ngIf="applicationInfo$ | async; let applicationInfo"
>
  <p>
    <span>{{ "about.title" | i18next }}</span>
    <span>{{ "about.helpDescription" | i18next }}</span
    >&nbsp;
    <a
      class="link"
      target="_blank"
      href="https://github.com/michaelfdeberry/overseer/issues"
      >{{ "about.issueTracker" | i18next }}</a
    >.
  </p>
  <div class="app-info">
    <h4>{{ "about.appSystemDetails" | i18next }}</h4>
    <table>
      <tr *ngFor="let key of getKeys(applicationInfo)">
        <th>{{ "about.info." + key | i18next }}</th>
        <td>{{ applicationInfo[key] }}</td>
      </tr>
    </table>
  </div>
  <div class="logging">
    <button mat-raised-button color="primary" (click)="downloadLog()">
      Download Log
    </button>
  </div>
  <div class="footer small">
    <span class="copy">&copy;{{ currentYear }} Overseer</span>
    <span class="spacer"></span>
    <span class="license">
      <span>{{ "about.openSourceNotice" | i18next }}</span
      >&nbsp;
      <a
        class="link"
        href="https://en.wikipedia.org/wiki/GNU_Affero_General_Public_License"
        target="_blank"
        >{{ "about.license" | i18next }}</a
      >
    </span>
  </div>
</div>
