<div class="printer" ng-class="{ zoomed: printerCtrl.zoom }">
    <div class="webcam" ng-if="printerCtrl.model.config.webCamUrl" ng-click="printerCtrl.toggleZoom()" style="background-image: url('{{printerCtrl.webcamUrl}}');" />
    <div class="content">
        <md-progress-linear md-mode="determinate" value="{{ printerCtrl.status.progress }}" title="{{ printerCtrl.status.progress | number : 1 }}%"></md-progress-linear>
        <div class="status">
            <h2 ng-bind="printerCtrl.model.name"></h2>
            <span class="state" ng-if="printerCtrl.connecting">
                <span translate="connecting"></span>
            </span>
            <span class="state" ng-if="!printerCtrl.connecting && printerCtrl.model.disabled">
                <span translate="disabled"></span>
            </span>
            <span class="state" ng-if="printerCtrl.status">
                <span translate="{{ printerCtrl.status.state }}"></span>
                <span ng-if="printerCtrl.isPrinting">
                    (<span translate="remaining"></span>: <span ng-bind="printerCtrl.status.estimatedTimeRemaining | duration"></span>)
                </span>
            </span>
        </div>
        <div class="controls {{ printerCtrl.status.state }}" ng-class="{ active: printerCtrl.isPrinting || printerCtrl.isPaused }">
            <md-button class="md-raised md-primary resume small" ng-click="printerCtrl.resume()">
                <i class="fa fa-play"></i>
            </md-button>
            <md-button class="md-raised md-warn pause small" ng-click="printerCtrl.pause()">
                <i class="fa fa-pause"></i>
            </md-button>
            <md-button class="md-raised cancel small dark" ng-click="printerCtrl.cancel()">
                <i class="fa fa-stop"></i>
            </md-button>
            <md-button class="md-raised tune small dark" ng-click="printerCtrl.tune()">
                <i class="fa fa-wrench"></i>
            </md-button>
        </div>
        <div class="controls" ng-class="{ active: printerCtrl.isIdle || printerCtrl.isDisconnected }">
            <md-button class="md-raised web-access small dark" href="{{ printerCtrl.model.config.url }}" target="_blank" title="{{ 'openWebsite' | translate }}">
                <i class="fa fa-external-link"></i>
            </md-button>
        </div>
        <div class="controls" ng-class="{ active: printerCtrl.isDisabled }">
            <md-button class="md-raised web-access small dark" href="/#!/configuration/printers/edit/{{ printerCtrl.model.id }}" title="{{ 'edit' | translate }}">
                <i class="fa fa-gear"></i>
            </md-button>
        </div>
    </div>
    <div class="temps" ng-if="!printerCtrl.isDisconnected">
        <table class="temp-table" ng-repeat="tool in printerCtrl.model.config.tools">
            <tbody>
                <tr>
                    <td ng-bind="tool"></td>
                </tr>
                <tr>
                    <td>
                        <span ng-bind="printerCtrl.getActualTemp(tool) | number : 0"></span> &deg;C /
                        <span ng-bind="printerCtrl.getTargetTemp(tool) | number : 0"></span> &deg;C
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="temp-table" ng-if="printerCtrl.model.config.heatedBed">
            <tbody>
                <tr>
                    <td translate="bed"></td>
                </tr>
                <tr>
                    <td>
                        <span ng-bind="printerCtrl.getActualTemp('bed') | number : 0"></span> &deg;C /
                        <span ng-bind="printerCtrl.getTargetTemp('bed') | number : 0"></span> &deg;C
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>