<div [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ 'name' | i18next }}</mat-label>
    <input matInput type="text" id="name" formControlName="name" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'url' | i18next }}</mat-label>
    <input matInput type="url" id="url" formControlName="url" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'apiKey' | i18next }}</mat-label>
    <input matInput type="text" id="apikey" formControlName="apiKey" required />
  </mat-form-field>

  <mat-form-field *ngIf="machine">
    <mat-label>{{ 'profile' | i18next }}</mat-label>
    <mat-select id="profiles" formControlName="profile" [compareWith]="compareProfiles">
      <mat-option *ngFor="let profile of machine.availableProfiles | keyvalue" [value]="profile.value">
        {{ profile.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="machine">
    <mat-label>{{ 'webcamUrl' | i18next }}</mat-label>
    <input matInput type="url" id="webcamUrl" formControlName="webCamUrl" required />
  </mat-form-field>

  <mat-form-field *ngIf="machine">
    <mat-label>{{ 'webCamOrientation' | i18next }}</mat-label>
    <mat-select id="webCamOrientation" formControlName="webCamOrientation">
      <mat-option *ngFor="let orientation of webCamOrientations" [value]="orientation.value">
        {{ orientation.translationKey | i18next }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="enableAdvancedSettings">
    <mat-form-field *ngIf="advancedSettingsVisible">
      <mat-label>{{ 'clientPem' | i18next }}</mat-label>
      <input type="text" matInput id="pem" formControlName="clientCertificate" />
    </mat-form-field>
    <button *ngIf="!advancedSettingsVisible" mat-raised-button color="primary" (click)="advancedSettingsVisible = true">
      {{ 'showAdvancedOptions' | i18next }}
    </button>
    <button *ngIf="advancedSettingsVisible" mat-raised-button (click)="advancedSettingsVisible = false">
      {{ 'hideAdvancedOptions' | i18next }}
    </button>
  </div>
</div>
