<mat-card class="configuration form-card">
  <mat-card-content>
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        routerLinkActive
        #appLink="routerLinkActive"
        [active]="appLink.isActive"
        routerLink="/configuration/general"
        >{{ "generalSettings" | i18next }}</a
      >
      <a
        mat-tab-link
        routerLinkActive
        #machinesLink="routerLinkActive"
        [active]="machinesLink.isActive"
        routerLink="/configuration/machines"
        >{{ "machines" | i18next }}</a
      >
      <a
        mat-tab-link
        routerLinkActive
        #usersLink="routerLinkActive"
        [active]="usersLink.isActive"
        routerLink="/configuration/users"
        >{{ "users" | i18next }}</a
      >
      <a
        mat-tab-link
        routerLinkActive
        #aboutLink="routerLinkActive"
        [active]="aboutLink.isActive"
        routerLink="/configuration/about"
        >{{ "aboutSettings" | i18next }}</a
      >
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
