<mat-toolbar class="nav">
    <mat-toolbar-row>
        <span class="nav-home-link" routerLink="/">Overseer</span>

        <span class="spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="showMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="nav-menu">
            <a routerLink="/configuration" mat-menu-item>
                <span translate>settings</span>
                <span class="nav-menu-spacer"></span>
                <mat-icon>settings</mat-icon>
            </a>

            <button (click)="logout()" mat-menu-item>
                <span translate>logout</span>
                <span class="nav-menu-spacer"></span>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
