.configuration {
  margin-top: 10px;

  .configuration-form {
    padding: 20px 20px 10px;

    .MuiTypography-caption {
      margin-bottom: 10px;
      display: block;
    }

    h6 {
      .MuiIcon-root {
        &.sub-icon {
          position: relative;

          svg {
            font-size: 12px;
            position: absolute;
            left: -7px;
            top: 7px;
          }
        }

        svg {
          margin-right: 10px;
          margin-bottom: -4px;
        }
      }
    }

    .MuiFormControl-root {
      margin-bottom: 10px;

      .input-actions {
        position: absolute;
        right: -10px;
      }
    }

    .switch-container {
      margin: 10px 0;
    }

    .MuiExpansionPanel-root {
      margin-top: 10px;
    }

    .configuration-actions {
      margin-top: 20px;
      display: flex;

      .configuration-actions-secondary {
        flex: 0 0 50%;

        button {
          margin-right: 10px;
        }
      }

      .configuration-actions-primary {
        text-align: right;
        flex: 0 0 50%;

        button {
          margin-left: 10px;
        }
      }
    }
  }

  .config-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 14px;

    .cdk-drop-list-dragging tr:not(.cdk-drag-placeholder) {
      transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    &.drag-drop {
      cursor: move;
    }

    tr {
      .sort-column {
        width: 100px;
        padding-left: 0;

        @media (max-width: 480px) {
          display: none;
        }
      }

      th,
      td {
        text-align: left;
        padding-left: 20px;
        height: 38px;

        @media (max-width: 480px) {
          padding-left: 0;
        }

        &.centered {
          text-align: center;
        }

        &.action {
          padding: 0;
          padding-right: 20px;
          text-align: right;
          width: 100px;

          .MuiButton-root {
            text-align: center;
            padding: 6px 14px 6px 8px;

            .MuiIcon-root {
              line-height: 22px;

              .MuiSvgIcon-root {
                $icon-size: 16px;
                font-size: $icon-size;
                line-height: $icon-size - 2;
                height: $icon-size;
                width: $icon-size;
                font-weight: bolder;
              }
            }
          }
        }

        &.empty {
          @extend .centered;
          padding: 10px 0;
        }
      }
    }
  }
  .setup-next-steps {
    padding: 10px;
    text-align: center;

    .MuiButton-root {
      margin: 10px;
    }
  }
}
