.header {
  display: flex;

  .header-title {
    flex: 1;

    a {
      text-decoration: none;

      &:hover,
      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .header-menu-container {
    flex: 0;
  }
}

.header-menu {
  .MuiPaper-root {
    margin-top: 35px;
  }

  ul {
    width: 250px;

    li {
      display: flex;

      a {
        display: flex;
        width: 100%;
        color: inherit;
        text-decoration: none;

        .MuiIcon-root {
          margin-top: 8px;
        }
      }

      .header-menu-item-text {
        flex: 1;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
