.monitoring-container {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  z-index: 1200;
  display: flex;
  flex-direction: row;
}

.no-machines-message {
  @extend .monitoring-container;

  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.7;

  .MuiButtonBase-root {
    margin: 5px;
  }
}

.machines {
  @extend .monitoring-container;

  @media (max-width: 480px) {
    top: 0;
    position: relative;
  }

  .machine {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;

    @media (max-width: 480px) {
      border-bottom: 1px solid #333;
    }

    .zoom-panel {
      display: flex;
      height: 100%;
      width: 100%;
      background-image: url('/images/fuzz.gif');
      cursor: zoom-in;

      &.zoom {
        z-index: 1500;
        background-image: none;
        background-color: #333;
        cursor: zoom-out;

        .web-cam {
          background-size: contain;
          background-position: center;
        }
      }
    }

    .web-cam {
      position: absolute;
      height: 100%;
      width: 102%;
      margin-left: -1%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &.flip-horizontally {
        transform: scaleX(-1);
      }

      &.flip-vertically {
        transform: scaleY(-1);
      }
    }

    .content {
      width: 100%;
      height: 100%;

      .head,
      .foot {
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px 12px;
        height: 100px;
      }

      .head {
        top: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      }

      .foot {
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      }

      .status,
      .controls {
        &:after {
          clear: both;
        }
      }

      .status {
        float: left;
        .name {
          @media (max-width: 480px) {
            font-size: 1em;
          }
        }

        .state {
          @media (max-width: 480px) {
            font-size: 10px;
          }
        }
      }

      .controls {
        float: right;

        .MuiButton-contained {
          color: #fff;
          padding: 0;
          $buttonSize: 36px;
          height: $buttonSize;
          width: $buttonSize;
          min-width: $buttonSize;
          margin-left: 8px;
          background-color: rgba($color: #444, $alpha: 0.7);
          box-shadow: 0px 2px 4px rgba($color: #000, $alpha: 0.56);

          .MuiIcon-root {
            margin-top: 2px;
            height: 36px;
          }

          &.resume {
            background-color: rgba($color: #3f51b5, $alpha: 0.7);
          }

          &.pause {
            background-color: rgba($color: #f2994a, $alpha: 0.7);
          }
        }
      }

      .temps {
        position: absolute;
        right: 12px;
        bottom: 10px;

        .temp {
          position: relative;
          float: left;
          width: 100px;
          text-align: center;
          margin-left: 12px;

          &:after {
            content: '';
            clear: both;
          }

          .heater-icon {
            width: 100%;
            display: block;

            svg {
              width: 45px;
            }
          }

          .heater-index {
            display: none;
          }

          &.nozzle {
            .heater-index {
              display: block;
              position: absolute;
              display: block;
              position: absolute;
              left: 51px;
              top: 17px;
              font-size: 11px;
            }
          }
        }

        .heater-temps {
          padding-left: 10px;
        }

        @media (max-width: 480px) {
          transform: scale(0.7);
          right: -21px;
          bottom: -3px;
        }
      }
    }

    .machine-type-logo {
      position: absolute;
      left: 12px;
      bottom: 20px;
      width: 90px;
      opacity: 0.25;

      @media (max-width: 480px) {
        width: 45px;
      }
    }
  }
}
