.cdk-overlay-pane {
    &.alert,
    &.prompt,
    &.certificate-error {
        mat-dialog-title {
            margin-bottom: 0;
        }

        mat-dialog-actions {
            display: flex;
            justify-content: flex-end;
            margin: 0 -12px -24px;
        }
    }

    &.certificate-error {
        max-width: 500px;
    }

    &.tune {
        mat-dialog-container {
            padding: 0;
            overflow: hidden;
        }

        @media (max-width: 768px) {
            min-width: 80vw;
        }
    }
}
