
<form [formGroup]="form" (ngSubmit)="signIn()"><mat-card class="form-card">
    <mat-card-content>
        <mat-form-field>
            <input matInput type="text" id="username" placeholder="{{ 'username' | i18next }}" formControlName="username" autocomplete="username" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" id="password" placeholder="{{ 'password' | i18next }}" formControlName="password" autocomplete="current-password" required />
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <span class="spacer"></span>
        <button mat-button color="primary" type="submit" [disabled]="form.pristine || form.invalid">{{ 'login' | i18next }}</button>
    </mat-card-actions>
</mat-card>
</form>
