@if (form) {
  <div class="flex-fill" [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">{{ 'name' | i18next }}</label>
      <input type="text" class="form-control" id="name" required formControlName="name" />
    </div>
    <div class="mb-3">
      <label for="url" class="form-label">{{ 'url' | i18next }}</label>
      <input type="text" class="form-control" id="url" required formControlName="url" />
    </div>
    <div class="mb-3">
      <label for="apiKey" class="form-label">{{ 'apiKey' | i18next }}</label>
      <input type="password" class="form-control" id="apiKey" required formControlName="apiKey" />
    </div>
    @if (machine) {
      <div class="mb-3">
        <label for="profile" class="form-label">{{ 'profile' | i18next }}</label>
        <input type="text" class="form-control" id="profile" required formControlName="profile" />
      </div>
      <div class="mb-3">
        <label for="webCamUrl" class="form-label">{{ 'webCamUrl' | i18next }}</label>
        <input type="text" class="form-control" id="webCamUrl" required formControlName="webCamUrl" />
      </div>
      <div class="mb-3">
        <label for="webCamOrientation" class="form-label">{{ 'webCamOrientation' | i18next }}</label>
        <select id="webCamOrientation" class="form-select" required formControlName="webCamOrientation">
          @for (option of webCamOrientations; track $index) {
            <option [ngValue]="option.value">{{ option.translationKey | i18next }}</option>
          }
        </select>
      </div>
    }
    @if (machinesService.supportsAdvanceSettings) {
      <div class="card p-3 mb-3">
        <p>{{ 'advancedOptions' | i18next }}</p>
        <label for="clientCertificate" class="form-label">{{ 'clientPem' | i18next }}</label>
        <textarea rows="4" class="form-control" id="clientCertificate" formControlName="clientCertificate"></textarea>
      </div>
    }
  </div>
}
