<md-dialog class="tune" flex-gt-md="40" flex="80">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <div flex>
                <h2>{{ ctrl.printer.name }}</h2>
                <span class="status" translate="{{ ctrl.status.state }}"></span>
            </div>
            <a class="action-button" ng-if="ctrl.printer.config.url" href="{{ ctrl.printer.config.url }}" target="_blank">
                <span translate="openWebsite"></span>
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row" class="progress">
            <div flex>
                <h5 translate="Progress"></h5>
                <md-progress-linear md-mode="determinate" value="{{ ctrl.status.progress }}" title="{{ ctrl.status.progress }}%"></md-progress-linear>
                <div layout>
                    <span class="elapsed-time" flex="50">
                        <span class="time-label"><span translate="elapsed"></span>:</span>
                        {{ ctrl.status.elapsedPrintTime | duration }}
                    </span>
                    <span class="estimated-time" flex="50">
                        <span class="time-label"><span translate="estimated"></span>: </span>                        
                        {{ ctrl.status.estimatedTimeRemaining | duration }}
                    </span>
                </div>
            </div>
            <div class="print-actions">
                <md-button class="md-raised md-primary small" ng-if="ctrl.status.state === 'Paused'" ng-click="ctrl.resume()">
                    <i class="fa fa-play"></i>
                </md-button>
                <md-button class="md-raised md-warn small" ng-if="ctrl.status.state === 'Printing'" ng-click="ctrl.pause()">
                    <i class="fa fa-pause"></i>
                </md-button>
                <md-button class="md-raised small light" ng-click="ctrl.cancel()">
                    <i class="fa fa-stop"></i>
                </md-button>
            </div>
        </div>
        <div layout-gt-sm="row" layout-xs="column">
            <div flex flex-sm="100">
                <table class="temp-table">
                    <tbody>
                        <tr ng-repeat="temp in ctrl.status.temperatures">
                            <th ng-bind="temp.name"></th>
                            <td class="actual-temp" ng-class="{ warm: (temp.actual / temp.target > 0.5), hot: (temp.actual / temp.target > 0.85) }">
                                {{ temp.actual | number : 1 }} &deg;C
                            </td>
                            <td>
                                <md-button class="md-raised smaller" ng-click="ctrl.decreaseTemp(temp.name)">
                                    <i class="fa fa-minus"></i>
                                </md-button>
                                <span class="target-temp">
                                    {{ temp.target | number : 0 }} &deg;C
                                </span> 
                                <md-button class="md-raised smaller" ng-click="ctrl.increaseTemp(temp.name)">
                                    <i class="fa fa-plus"></i>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div flex flex-sm="100" class="controls">
                <table>
                    <tbody>
                    <tr>
                        <th translate="fanSpeed"></th>
                        <td>
                            <md-slider class="md-primary" flex md-discrete ng-model="ctrl.status.fanSpeed" ng-model-options="ctrl.ngModelOptions" ng-change="ctrl.setFanSpeed()" step="1" min="0" max="100"></md-slider>
                        </td>
                        <td>
                            {{ ctrl.status.fanSpeed }}%
                        </td>
                    </tr>
                    <tr>
                        <th translate="feedRate"></th>
                        <td>                            
                            <md-slider class="md-primary" flex md-discrete ng-model="ctrl.status.feedRate" ng-model-options="ctrl.ngModelOptions" ng-change="ctrl.setFeedRate()" step="1" min="50" max="150"></md-slider>
                        </td>
                        <td>
                            {{ ctrl.status.feedRate }}%
                        </td>
                    </tr>
                    <tr ng-repeat="(key, value) in ctrl.status.flowRates">
                        <th>
                            <span translate="flowRate"></span> <span class="tool-name" ng-if="ctrl.printer.config.tools.length > 1">" {{key}}</span>
                        </th>
                        <td>
                            <md-slider class="md-primary" flex md-discrete ng-model="value" ng-model-options="ctrl.ngModelOptions" ng-change="ctrl.setFlowRate($index)" step="1" min="75" max="125"></md-slider>
                        </td>
                        <td>
                            {{ value }}%
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="ctrl.hide()">
            <span translate="dismiss"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>