<div class="printers" *ngIf="printers">
    <app-monitoring-printer *ngFor="let printer of printers | visibilityFilter | resizer" [printer]="printer"></app-monitoring-printer>

    <div class="no-printers" *ngIf="!printers.length; else elseBlock">
       <p>There are currently no 3D printers configured.</p>
        <p>
            <a mat-button routerLink="/configuration/printers/add">Add Printer</a>
        </p>
    </div>

    <ng-template #elseBlock>
        <div *ngIf="printers | visibilityFilter as visiblePrinters">
           <div  class="no-printers" *ngIf="!visiblePrinters.length">
                <p>
                    All configured 3D printers are currently hidden because
                    <span [hidden]="!settings.hideDisabledPrinters">
                        'Hide Disabled Printers'
                    </span>
                    <span [hidden]="!(settings.hideDisabledPrinters && settings.hideIdlePrinters)">and</span>
                    <span [hidden]="!settings.hideIdlePrinters">
                        'Hide Idle Printers'
                    </span>
                    has been enabled.
                </p>
                <p>
                    <a *ngIf="settings.hideIdlePrinters" mat-button color="accent" routerLink="/configuration/general">Modify Visibility Settings</a>
                    <a *ngIf="settings.hideDisabledPrinters" mat-button color="accent" routerLink="/configuration/printers">Modify Printer Settings</a>
                </p>
           </div>
        </div>
    </ng-template>
</div>
