html, body {
    height: 100%;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar),
md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: $white;
    color: $black;

    h2 {
        font-size: 24px;
    }

    .action-button {        
        &.md-icon-button {
            font-size: 26px;
        }

        right: 10px;
    }
}

md-toast.toast-error .md-toast-content {
    background-color: $error;
}

.config-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    @media (max-width: 480px) {
        table-layout: auto;
    }

    tr {
        th, td {
            border-bottom: $border;
            text-align: left;
            padding-left: 20px;
            overflow: hidden;

            &.centered {
                text-align: center;
            }

            &:last-child {
                text-align: right;
                width: 100px;
            }
        }

        th {
            background-color: $border;
            border: none;
            height: 50px;
        }

        &:last-child > td {
            border: none;
        }

        &.empty-row td {
            text-align: center;
            padding: 10px 0;
        }
    }
}

md-progress-linear {
    &, .md-container, .md-container .md-bar {
        height: 8px;
    }

    .md-container {
        background-color: $black;
    }
}

.text-shadow {
    text-shadow: 2px 2px 2px $black;
}

.sub-text {
    font-size: 12px;
    color: $sub-text;
}

.md-button {
    &.small {
        min-width: 36px;
        max-width: 36px;
        width: 36px;
        margin: 6px 2px;
    }

    &.smaller {
        min-width: 24px;
        max-width: 24px;
        width: 24px;
        min-height: 24px;
        max-height: 24px;
        height: 24px;
        line-height: 12px;
        font-size: 12px;
        padding: 6px;
    }

    &.light {
        color: lighten($black, 20);
        background-color: darken($white, 10);

        &:not([disabled]):hover {
            background-color: darken($white, 15);
        }
    }

    &.dark {
        color: $white;
        background-color: darken($white, 60);

        &:not([disabled]):hover {
            background-color: darken($white, 55);
        }
    }
}

.no-printers {
    color: $white;
    margin-top: 20px;
    text-align: center;

    a {
        color: $white;

        &:hover {
            font-weight: #fff;
        }
    }
}

.error {
    color: $error;
}

.configuration {
    .actions {
        .md-button {
            margin: 0 4px;
        }
    }
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

md-switch {
    margin: 0 0 10px;
}

.advanced-options {
    margin-left: 0;
}