@import "variables";

$deep-purple: mat-palette($mat-deep-purple, 700, 100, 800);
$amber: mat-palette($mat-amber, A200, A100, A400);
$deeppurple-amber-theme: mat-light-theme($deep-purple, $amber);

.deeppurple-amber {
    .app {
        color: $black;
        background: $white;
    }

    @include angular-material-theme($deeppurple-amber-theme);
}
