@import "variables";
@import "~@angular/material/theming";

$indigo: mat-palette($mat-indigo, 700, 100, 800);
$pink: mat-palette($mat-pink, A200, A100, A400);
$indigo-pink-theme: mat-light-theme($indigo, $pink);

.indigo-pink {
    .app {
        color: $black;
        background: $white;
    }

    @include angular-material-theme($indigo-pink-theme);
}
