<div class="about config-form" *ngIf="applicationInfo$ | async; let applicationInfo">
    <p>
        <span translate="about.title"></span>
        <span translate="about.helpDescription"></span>&nbsp;
        <a class="link" target="_blank" href="https://github.com/michaelfdeberry/overseer/issues" translate>about.issueTracker</a>.
    </p>
    <h4 translate="about.appSystemDetails"></h4>
    <table class="about-table">
        <tr *ngFor="let key of getKeys(applicationInfo)">
            <th>{{ 'about.info.' + key | translate }}</th>
            <td>{{ applicationInfo[key] }}</td>
        </tr>
    </table>
    <div class="footer small">
        <span class="copy">&copy;{{ currentYear }} Overseer</span>
        <span class="spacer"></span>
        <span class="license">
            <span translate="about.openSourceNotice"></span>&nbsp;
            <a class="link" href="https://en.wikipedia.org/wiki/GNU_Affero_General_Public_License" target="_blank" translate>about.license</a>
        </span>
    </div>
</div>
