
@import "variables";

.about {
    .about-table {
        th {
            text-align: left;
        }

        th, td {
            padding: 5px 10px
        }
    }

    .footer {
        border-top: 1px solid $border-color-solid;
        margin-top: 20px;
        padding-top: 20px;

        @media (max-width: 480px) {
            position: relative;
            text-align: center;

            &, .copy, .license {
                display: block
            }

            .copy {
                margin-top: 40px;
            }

            .license {
                top: 10px;
                left: 0;
                right: 0;
                position: absolute;
            }
        }
    }
}
