.configuration {
  margin-top: 10px;

  .configuration-form {
    padding: 10px 35px;

    .MuiFormControl-root {
      margin-top: 10px;
      display: block;
      width: 100%;
    }

    .MuiExpansionPanel-root {
      margin-top: 10px;
    }

    .configuration-actions {
      margin-top: 20px;
      display: flex;

      .configuration-actions-secondary {
        flex: 1;
      }

      .configuration-actions-primary {
        flex: 0;
      }
    }
  }
  .setup-next-steps {
    padding: 10px;
    text-align: center;

    .MuiButton-root {
      margin: 10px;
    }
  }
}
