<form name="ctrl.addForm" novalidate>
    <md-card flex-gt-sm="50" flex-offset-gt-sm="25">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    {{ 'add' | translate }} {{ 'user' | translate }}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-input-container ng-if="ctrl.error">
                <div class="error" ng-bind="ctrl.error"></div>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate="username"></label>
                <input type="text" ng-model="ctrl.user.username" min="8" required />
            </md-input-container>
            <md-input-container class="md-block">
                <label translate="passwordEdit"></label>
                <input type="password" ng-model="ctrl.user.password" min="8" required />
            </md-input-container>
            <md-input-container class="md-block">
                <label translate="confirmPassword"></label>
                <input type="password" ng-model="ctrl.user.passwordMatch" match="ctrl.user.password" required />
            </md-input-container> 
            <md-input-container class="md-block">
                <label translate="sessionLifetime"></label>
                <md-select ng-model="ctrl.user.sessionLifetime" title="{{ sessionLifetimeTitle | translate }}">
                    <md-option ng-repeat="lifetime in ctrl.lifetimes" ng-value="lifetime">
                        <text ng-if="lifetime">{{ lifetime }} {{ 'days' | translate }}</text>
                        <text ng-if="!lifetime">{{ 'indefinite' | translate }}</text>
                    </md-option>
                </md-select>
            </md-input-container> 
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button href="/#!/configuration" translate="cancel"></md-button>
            <md-button type="submit" class="md-primary" ng-click="ctrl.addUser()" ng-disabled="ctrl.addForm.$pristine || ctrl.addForm.$invalid || ctrl.loading" translate="save"></md-button>
        </md-card-actions>
    </md-card>
</form>