<div>    
    <div ng-show="ctrl.advancedOpen">
        <md-input-container class="md-block" title="{{ 'clientPemTitle' | translate }}" rows="4">
            <label translate="clientPem"></label>
            <textarea ng-model="ctrl.model.config.clientCertificatePem"></textarea>
        </md-input-container>
        <md-button class="advanced-options md-raised" ng-click="ctrl.advancedOpen = 0">{{ 'hideAdvancedOptions' | translate }}</md-button>
    </div>
    <md-button ng-if="!ctrl.advancedOpen" class="advanced-options md-raised md-primary" ng-click="ctrl.advancedOpen = 1">{{ 'showAdvancedOptions' | translate }}</md-button>
</div>