<form name="editForm" novalidate>
    <md-card flex-gt-sm="50" flex-offset-gt-sm="25">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ 'editing' | translate }} {{ ctrl.currentName }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-input-container class="md-block">
                <label translate="name"></label>
                <input ng-model="ctrl.model.name" required />
            </md-input-container>

            <ng-include src="ctrl.configTemplateUrl"></ng-include>

            <md-input-container class="md-block">
                <md-switch class="md-primary" ng-model="ctrl.model.disabled" title="{{ 'disableMonitoringTitle' | translate }}">
                    <span translate="disableMonitoring"></span>
                </md-switch>
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <div flex>
                <md-button flex class="md-raised md-warn md-hue-2" ng-click="ctrl.deletePrinter()">
                    <span translate="delete"></span>
                </md-button>
            </div>
            <md-button href="/#!/configuration"><span translate="cancel"></span></md-button>
            <md-button type="submit" class="md-primary" ng-click="ctrl.updatePrinter()" ng-disabled="editForm.$pristine || editForm.$invalid">
                <span translate="save"></span>
            </md-button>
        </md-card-actions>
    </md-card>
</form>
