<md-card class="configuration" ng-if="ctrl.ready" flex-gt-sm="50" flex-offset-gt-sm="25">
    <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'generalSettings' | translate }}" md-on-select="ctrl.setTabPath()">
                <form name="ctrl.settingsForm" ng-disabled="ctrl.loading">
                    <br />
                    <md-input-container class="md-block">
                        <label translate="pollInterval"></label>
                        <md-select ng-model="ctrl.settings.interval" required title="{{ 'pollIntervalTitle' | translate }}">
                            <md-option ng-repeat="interval in ctrl.intervals" ng-value="interval">
                                {{ interval / 1000 }} {{ 'seconds' | translate }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label translate="localPort"></label>
                        <input type="number" required ng-model="ctrl.settings.localPort" title="{{ 'localPortTitle' | translate }}"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch class="md-primary" ng-model="ctrl.settings.hideDisabledPrinters" title="{{ 'hideUnmonitoredTitle' | translate }}">
                            <span translate="hideUnmonitored"></span>
                        </md-switch>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-switch class="md-primary" ng-model="ctrl.settings.requiresAuthentication" title="{{ 'requiresAuthenticationTitle' | translate }}">
                            <span translate="requiresAuthentication"></span>
                        </md-switch>
                    </md-input-container>
                    <div class="actions" layout="row" layout-align="end center">
                        <md-button class="" ng-click="ctrl.revertSettings()" ng-disabled="ctrl.settingsForm.$pristine">
                            <span translate="cancel"></span>
                        </md-button>
                        <md-button type="submit" class="md-primary" ng-click="ctrl.updateSettings()" ng-disabled="ctrl.settingsForm.$pristine || ctrl.settingsForm.$invalid">
                            <span translate="save"></span>
                        </md-button>
                    </div>
                </form>
            </md-tab>
            <md-tab label="{{ 'users' | translate }}" md-active="ctrl.activeTab === 'users'" md-on-select="ctrl.setTabPath('users')">
                <table class="config-table user-table">
                    <thead>
                        <tr>
                            <th translate="username"></th>
                            <th translate="sessionLifetime"></th>
                            <th translate="isLoggedIn"></th>
                            <th>
                                <md-button href="/#!/configuration/users/add">
                                    <i class="fa fa-plus"></i>
                                    <span translate="add"></span>
                                </md-button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in ctrl.users">
                            <td ng-bind="user.username"></td>
                            <td>
                                <span ng-if="user.sessionLifetime">{{ user.sessionLifetime }} <span translate="days"></span></span>
                                <span ng-if="!user.sessionLifetime" translate="indefinite"></span>
                            </td>
                            <td class="centered">
                                <i ng-if="user.isLoggedIn" class="fa fa-check" title="{{ 'isLoggedInTitle' | translate }}"></i>
                            </td>                            
                            <td>
                                <md-button href="/#!/configuration/users/edit/{{ user.id }}">
                                    <i class="fa fa-edit"></i>
                                    <span translate="edit"></span>
                                </md-button>
                            </td>
                        </tr>
                        <tr class="empty-row" ng-if="!ctrl.users.length">
                            <td colspan="4" translate="noUsers"></td>
                        </tr>
                    </tbody>
                </table>
            </md-tab>
            <md-tab label="{{ 'printers' | translate }}" md-active="ctrl.activeTab === 'printers'" md-on-select="ctrl.setTabPath('printers')">
                <table class="config-table printers-table">
                    <thead>
                    <tr>
                        <th translate="name"></th>
                        <th translate="printerType"></th>
                        <th translate="monitoringEnabled"></th>
                        <th>
                            <md-button href="/#!/configuration/printers/add">
                                <i class="fa fa-plus"></i>
                                <span translate="add"></span>
                            </md-button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="printer in ctrl.printers">
                        <td ng-bind="printer.name"></td>
                        <td ng-bind="printer.printerType"></td>
                        <td class="centered">
                            <i ng-if="printer.disabled" class="fa fa-exclamation-triangle" title="{{ 'monitoringDisabled' | translate }}"></i>
                            <i ng-if="!printer.disabled" class="fa fa-check" title="{{ 'monitoringEnabled' | translate }}"></i>
                        </td>
                        <td>
                            <md-button href="/#!/configuration/printers/edit/{{printer.id}}">
                                <i class="fa fa-edit"></i>
                                <span translate="edit"></span>
                            </md-button>
                        </td>
                    </tr>
                    <tr class="empty-row" ng-if="!ctrl.printers.length">
                        <td colspan="4" translate="noPrinters"></td>
                    </tr>
                    </tbody>
                </table>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>