<md-input-container class="md-block">
    <label translate="url"></label>
    <input ng-model="ctrl.model.config.url" required />
</md-input-container>

<md-input-container class="md-block">
    <label translate="webcamUrl"></label>
    <input ng-model="ctrl.model.config.webCamUrl" required />
</md-input-container>

<md-input-container class="md-block">
    <label translate="snapshotUrl"></label>
    <input ng-model="ctrl.model.config.snapshotUrl" required />
</md-input-container>

<!--<md-input-container ng-if="ctrl.requiresRepRapPassword" class="md-block">
    <label translate="password"></label>
    <input type="password" ng-model="ctrl.model.config.password" required />
</md-input-container>
<md-input-container class="md-block">
    <md-switch class="md-primary" ng-model="ctrl.requiresRepRapPassword">
        <span translate="requiresPassword"></span>
    </md-switch>
</md-input-container>-->
