{{ machines }}
<div class="machines" *ngIf="machines">
  <div class="grid" *appLet="machines | machineMonitorFilter as visibleMachines" [ngClass]="{ scroll: rowHeight !== 'fit' }">
    <mat-grid-list class="grid-list" [cols]="columns" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let machine of visibleMachines">
        <app-monitoring-machine [machine]="machine"></app-monitoring-machine>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="no-machines" *ngIf="!machines.length; else elseBlock">
    <p>{{ 'noMachine' | i18next }}</p>
    <p>
      <button mat-button routerLink="/configuration/machines/add">
        <span>{{ 'noMachinesAddMachine' | i18next }}</span>
      </button>
    </p>
  </div>

  <ng-template #elseBlock>
    <div *ngIf="machines | machineMonitorFilter as visibleMachines">
      <div class="no-machines" *ngIf="!visibleMachines?.length">
        <p>
          <span>{{ 'noMachinesEditMachines' | i18next }}</span>
        </p>
        <p>
          <button *ngIf="settings.hideIdleMachines" mat-button color="accent" routerLink="/configuration/general">
            <span>{{ 'editVisibility' | i18next }}</span>
          </button>
          <button *ngIf="settings.hideDisabledMachines" mat-button color="accent" routerLink="/configuration/machines">
            <span>{{ 'editMachineConfig' | i18next }}</span>
          </button>
        </p>
      </div>
    </div>
  </ng-template>
</div>
