<div mat-dialog-title>
  <div class="status-container">
    <div class="name">{{ data.name }}</div>
  </div>
  <div *ngIf="data.url" class="actions-container">
    <a href="{{ data.url }}" target="_blank">
      <span>{{ 'openWebsite' | i18next }}</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</div>
<div mat-dialog-content>
  <div class="progress-container">
    <div class="progress">
      <h5>{{ 'progress' | i18next }}</h5>
      <div>
        <mat-progress-bar color="accent" mode="determinate" [value]="data.status?.progress"></mat-progress-bar>
      </div>
      <div class="times">
        <span class="elapsed-time"> {{ data.status?.elapsedJobTime ?? 0 | duration }} {{ 'elapsed' | i18next }} </span>
        <span class="estimated-time">
          {{ data.status?.estimatedTimeRemaining ?? 0 | duration }}
          {{ 'remaining' | i18next }}
        </span>
      </div>
    </div>
    <div class="progress-actions" [ngClass]="data.currentStateName">
      <button [disabled]="disabled" class="control-button resume" color="primary" mat-raised-button (click)="resume()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button [disabled]="disabled" class="control-button pause" color="primary" mat-raised-button (click)="pause()">
        <mat-icon>pause</mat-icon>
      </button>
      <button [disabled]="disabled" class="control-button cancel" color="primary" mat-raised-button (click)="cancel()">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </div>
  <div class="tuning-container">
    <div>
      <table class="temp-table">
        <thead>
          <tr>
            <th></th>
            <th>{{ 'current' | i18next }}</th>
            <th>{{ 'target' | i18next }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heater of data.heaters">
            <th class="capitalize">{{ heater.name }}</th>

            <td
              class="actual-temp"
              *appLet="status.temperatures![heater.index] as temp"
              [ngClass]="{
                warm: temp.target !== 0 && temp.actual / temp.target > 0.5,
                hot: temp.target !== 0 && temp.actual / temp.target > 0.85,
              }"
            >
              {{ temp.actual | number: '1.1-1' }} &deg;C
            </td>
            <td class="target-temp" *appLet="status.temperatures![heater.index] as temp">
              <button [disabled]="disabled" mat-raised-button (click)="decreaseTemp(heater.index)">
                <mat-icon>remove</mat-icon>
              </button>
              <span class="temp"> {{ temp.target | number: '1.0-0' }} &deg;C </span>
              <button [disabled]="disabled" mat-raised-button (click)="increaseTemp(heater.index)">
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="tune-table">
        <tbody>
          <tr>
            <th colspan="3">{{ 'fanSpeed' | i18next }}</th>
          </tr>
          <tr>
            <td colspan="2">
              <mat-slider min="0" max="100" step="1" [disabled]="disabled" thumbLabel="true" tickInterval="auto">
                <input matSliderThumb [(ngModel)]="data.status!.fanSpeed" (valueChange)="setFanSpeed($event)" />
              </mat-slider>
            </td>
            <td>{{ data.status?.fanSpeed ?? 0 }}%</td>
          </tr>
          <tr>
            <th colspan="3">{{ 'feedRate' | i18next }}</th>
          </tr>
          <tr>
            <td colspan="2">
              <mat-slider min="50" max="150" step="1" [disabled]="disabled" thumbLabel="true" tickInterval="auto">
                <input matSliderThumb [(ngModel)]="data.status!.feedRate" (valueChange)="setFeedRate($event)" />
              </mat-slider>
            </td>
            <td>{{ data.status?.feedRate ?? 0 }}%</td>
          </tr>
          <tr>
            <th colspan="3">{{ 'flowRates' | i18next }}</th>
          </tr>
          <tr class="flow-rates" *ngFor="let extruder of data.extruders">
            <th class="capitalize">
              {{ extruder.name | i18next }}
            </th>
            <td *appLet="status.flowRates![extruder.index] as flowRate">
              <mat-slider min="75" max="125" step="1" [disabled]="disabled" thumbsLabel="true" tickInterval="auto">
                <input matSliderThumb [ngModel]="flowRate" (valueChange)="setFlowRate(extruder.index, $event)" />
              </mat-slider>
            </td>
            <td *appLet="status.flowRates![extruder.index] as flowRate">{{ flowRate | number }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial color="primary">
    {{ 'dismiss' | i18next }}
  </button>
</div>
