mat-card-avatar {
  position: relative;

  .edit {
    $size: 13px;
    height: $size;
    width: $size;
    font-size: $size;
    position: absolute;
    left: -3px;
    top: 6px;
  }

  .user {
    margin-left: 3px;
  }
}
