@import "variables";

.configuration .mat-tab-body-wrapper {
    display: none;
}

.mat-card-content {
    position: relative;
}

.mat-form-field {
    width: 100%;
}

.mat-card > .mat-card-actions {
    display: flex;
}

.mat-snack-bar-container {
    &.error {
        color: $white;
        background-color: $error;

        .mat-simple-snackbar-action .mat-button-wrapper {
            font-weight: bold;
            color: $white;
        }
    }
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    @media (max-width: 768px) {
        min-width: 70px;
        padding: 0 6px;
    }
}
