<div mat-dialog-title>
    <div class="status-container">
        <div class="name">{{ data.name }}</div>
    </div>
    <div *ngIf="data.url" class="actions-container">
        <a href="{{ data.url }}" target="_blank">
            <span translate>openWebsite</span>
            <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
</div>
<div mat-dialog-content>
    <div class="progress-container">
        <div class="progress">
            <h5 translate>progress</h5>
            <div>
                <mat-progress-bar color="accent" mode="determinate" [value]="data.status.progress"></mat-progress-bar>
            </div>
            <div class="times">
                <span class="elapsed-time">
                    {{ data.status.elapsedJobTime | duration }} {{'elapsed' | translate}}
                </span>
                <span class="estimated-time">
                    {{ data.status.estimatedTimeRemaining | duration }} {{'remaining' | translate}}
                </span>
            </div>
        </div>
        <div class="progress-actions" [ngClass]="data.currentStateName">
            <button [disabled]="disabled" class="control-button resume" color="primary" mat-raised-button (click)="resume()">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button [disabled]="disabled" class="control-button pause" color="primary" mat-raised-button (click)="pause()">
                <mat-icon>pause</mat-icon>
            </button>
            <button [disabled]="disabled" class="control-button cancel" color="primary" mat-raised-button (click)="cancel()">
                <mat-icon>stop</mat-icon>
            </button>
        </div>
    </div>
    <div class="tuning-container">
        <div>
            <table class="temp-table">
                <thead>
                    <tr>
                        <th></th>
                        <th translate>current</th>
                        <th translate>target</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let heater of data.heaters">
                        <th class="capitalize">{{ heater.name }}</th>

                        <td class="actual-temp"
                            *appLet="data.status.temperatures[heater.index] as temp"
                            [ngClass]="{
                                warm: temp.target !== 0 && temp.actual / temp.target > 0.5,
                                hot: temp.target !== 0 && temp.actual / temp.target > 0.85
                            }">
                            {{ temp.actual | number : "1.1-1" }} &deg;C
                        </td>
                        <td class="target-temp" *appLet="data.status.temperatures[heater.index] as temp">
                            <button [disabled]="disabled" mat-raised-button (click)="decreaseTemp(heater.index)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <span class="temp">
                                {{ temp.target | number : "1.0-0" }} &deg;C
                            </span>
                            <button [disabled]="disabled" mat-raised-button (click)="increaseTemp(heater.index)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="tune-table">
                <tbody>
                <tr>
                    <th colspan="3" translate>fanSpeed</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-slider min="0" max="100" step="1" [disabled]="disabled" thumbLabel="true" tickInterval="auto" [(ngModel)]="data.status.fanSpeed" (change)="setFanSpeed($event.value)"></mat-slider>
                    </td>
                    <td>
                        {{ data.status.fanSpeed }}%
                    </td>
                </tr>
                <tr>
                    <th colspan="3" translate>feedRate</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-slider min="50" max="150" step="1" [disabled]="disabled" thumbLabel="true" tickInterval="auto" [(ngModel)]="data.status.feedRate" (change)="setFeedRate($event.value)"></mat-slider>
                    </td>
                    <td>
                        {{ data.status.feedRate }}%
                    </td>
                </tr>
                <tr>
                    <th colspan="3" translate>flowRates</th>
                </tr>
                <tr class="flow-rates" *ngFor="let extruder of data.extruders">
                    <th class="capitalize">
                        {{ extruder.name | translate }}
                    </th>
                    <td *appLet="data.status.flowRates[extruder.index] as flowRate">
                        <mat-slider min="75" max="125" step="1" [disabled]="disabled" thumbsLabel="true" tickInterval="auto"
                            [ngModel]="flowRate" (change)="setFlowRate(extruder.index, $event.value)"></mat-slider>
                    </td>
                    <td *appLet="data.status.flowRates[extruder.index] as flowRate">
                        {{ flowRate | number }}%
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial color="primary">{{'dismiss' | translate}}</button>
</div>
