<div>
    <div ng-if="!ctrl.loading && ctrl.printers.length">
        <resizer name="ctrl.resizer" count="ctrl.printers.length">
            <printer ng-repeat="printer in ctrl.printers" model="printer" style="width: {{ ctrl.resizer.width }}%; height: {{ ctrl.resizer.height }}px"></printer>
        </resizer>
    </div>
    <div class="no-printers" ng-if="!ctrl.loading && !ctrl.printers.length">
        <p translate="noPrinter"></p>
        <p>
            <md-button href="/#!/configuration/printers/add">
                <span translate="noPrintersAddPrinter"></span>                
            </md-button>
            <md-button href="/#!/configuration">
                <span translate="noPrintersEditPrinters"></span>
            </md-button>
        </p>
    </div>
</div>