<h5 translate>clientSettings</h5>
<form>
    <mat-form-field>
        <mat-select placeholder="Theme" (selectionChange)="updateTheme($event.value)" value="{{ currentTheme }}">
            <mat-option *ngFor="let theme of availableThemes" [value]="theme.name">
                {{ 'themes.' + theme.name | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<h5 translate>appSettings</h5>
<form *ngIf="configuration$ | async" [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field>
        <mat-select placeholder="Poll Interval" formControlName="interval">
            <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                {{ interval.value / 1000 }} {{ interval.translationKey | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input type="number" matInput placeholder="{{'localPort' | translate}}" formControlName="localPort" required />
    </mat-form-field>

    <mat-slide-toggle formControlName="hideDisabledPrinters">{{'hideDisabledPrinters' | translate}}</mat-slide-toggle>

    <mat-slide-toggle formControlName="hideIdlePrinters">{{'hideIdlePrinters' | translate}}</mat-slide-toggle>

    <mat-slide-toggle formControlName="requiresAuthentication">{{'requiresAuthentication' | translate}}</mat-slide-toggle>

    <div class="actions">
        <button mat-button (click)="cancel()" [disabled]="form.pristine">{{'cancel' | translate}}</button>
        <button mat-button color="primary" [disabled]="form.pristine || form.invalid">{{'save' | translate}}</button>
    </div>
</form>
