@let notification = this.jobNotification();
@let machine = this.machine();

@if (notification && machine) {
  <div
    class="p-3 mb-2 d-flex align-items-start p-3 border-start border-3 rounded-2 shadow-sm position-relative"
    [ngClass]="{
      'border-secondary': notification.isRead,
      'border-success': !notification.isRead && (notification.type === 'JobCompleted' || notification.type === 'JobStarted'),
      'border-info': !notification.isRead && notification.type === 'JobResumed',
      'border-warning': !notification.isRead && notification.type === 'JobPaused',
      'border-danger': !notification.isRead && notification.type === 'JobError',
    }"
  >
    <div
      class="me-3 fs-3"
      [ngClass]="{
        'text-secondary': notification.isRead,
        'text-success': !notification.isRead && (notification.type === 'JobCompleted' || notification.type === 'JobStarted'),
        'text-info': !notification.isRead && notification.type === 'JobResumed',
        'text-warning': !notification.isRead && notification.type === 'JobPaused',
        'text-danger': !notification.isRead && notification.type === 'JobError',
      }"
    >
      <i
        [ngClass]="{
          'bi bi-check-circle-fill': notification.type === 'JobCompleted',
          'bi bi-play-circle-fill': notification.type === 'JobStarted' || notification.type === 'JobResumed',
          'bi bi-pause-circle-fill': notification.type === 'JobPaused',
          'bi bi-exclamation-circle-fill': notification.type === 'JobError',
        }"
      >
      </i>
    </div>
    <div class="flex-grow-1">
      <h5 class="fw-bold text-white mb-0 d-flex">
        <div
          class="flex-grow-1"
          [ngClass]="{
            'fw-normal': notification.isRead,
            'fw-bold': !notification.isRead,
            'text-secondary': notification.isRead,
            'text-white': !notification.isRead,
          }"
        >
          {{ 'jobNotifications.' + notification.type | i18next }}
        </div>
        <button type="button" class="btn-close btn btn-sm" [attr.aria-label]="'clear' | i18next" (click)="handleDismiss()"></button>
      </h5>
      <p class="text-secondary small mb-0">
        {{ 'jobNotifications.' + notification.type + 'Message' | i18next: { jobNumber: notification.machineJobId, machineName: machine.name } }}
      </p>
      @if (notification.message) {
        <p class="text-secondary small mb-0">{{ notification.message | i18next }}</p>
      }
      @if (!notification.isRead) {
        @if (notification.type === 'JobPaused') {
          <button class="btn btn-sm btn-success my-2 me-2" (click)="resume()">{{ 'continue' | i18next }}</button>
        } @else if (notification.type === 'JobError' && notification.message !== 'job.machineOffline') {
          <!-- There is no support for it yet, but if there is an error give the option to pause and cancel -->
          <button class="btn btn-sm btn-warning my-2 me-2" (click)="pause()">{{ 'pause' | i18next }}</button>
          <button class="btn btn-sm btn-outline-danger my-2 me-2" (click)="cancel()">{{ 'stop' | i18next }}</button>
        }
      }
      <small class="text-muted d-block mt-1">{{ notification.timestamp | relativeDate }}</small>
    </div>
  </div>
}
