<main class="main">
  <ng-progress ngProgressHttp />
  @if (isLoggedIn()) {
  <nav class="navbar navbar-expand bg-body-tertiary p-0">
    <div class="container-fluid px-3 py-2">
      <a class="navbar-brand" href="/" routerLink="/">
        <app-svg name="logo" />
      </a>

      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-0">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/configuration" routerLinkActive="'active'">{{ 'settings' | i18next }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">{{ 'logout' | i18next }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  }
  <router-outlet />
  <app-toasts></app-toasts>
</main>
